@import '../../SCSS/index.scss';

.Container {
  @include customLayout(center, flex-start, column);
  margin: 2% 1% auto;
}
.Form {
  @include customLayout(center, flex-start, column);
  padding: 40px;
  width: 50%;
  margin: 1% auto;
  box-shadow: 0 2px 4px $bgColorDark;
  border-radius: 10px;
  .formHeading {
    color: $purp;
    align-self: center;
    font-weight: $bold;
  }
  label:first-child {
    margin-top: 0;
  }
  label {
  margin: 20px 0 0;
  font-size: 1.5rem;
  color: $purp;
  font-weight: $bold;
  }
  input {
    margin: 10px 0 3px;
    width: 100%;
    border: none;
    padding: 8px;
    box-shadow: 0px 2px 5px lighten($bgColorDark, 50%);
    border-radius: 3px;
    &:focus {
    outline: none;
    -webkit-animation: scaleUp 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scaleUp 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
  }
}

.GenerateBtn {
position: relative;
    display: inline-block;
    font-size: 22px;
    padding: 10px 40px;
    border: none;
    background: $purp;
    color: white;
    margin: 20px auto;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    background-color: $purp;
    box-shadow: 0 0 0 1px lighten($purp, 5%) inset,
       0 0 0 2px rgba(255,255,255,0.15) inset,
       0 8px 0 0 darken($purp, 15%),
       0 8px 0 1px rgba(0,0,0,0.4),
       0 8px 8px 1px rgba(0,0,0,0.5);
  &:hover {
    border: 0 solid white;
    background: lighten($purp, 5%);
  }
  &:active {
    box-shadow: 0 0 0 1px #82c8a0 inset,
     0 0 0 2px rgba(255,255,255,0.15) inset,
     0 0 0 1px rgba(0,0,0,0.4);
     outline: none;
     margin-top: 28px;
     margin-bottom: 12px;
  }
  &:focus {
    outline: none;
  }
}



@-webkit-keyframes scaleUp {
	0% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.5);
						transform: scale(0.5);
	}
}
@keyframes scaleUp {
	0% {
		-webkit-transform: scale(0.5);
						transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
}

