@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lato:300,400,700&display=swap');

// ***** COLORS *****
$test-color: hotpink;

// ***** FONT STYLES *****
$fontFam: 'Lato', sans-serif;
$stylishText: 'Dancing Script', cursive;

// ***** FONT WEIGHTS *****
$light: 300;
$normal: 400;
$bold: 700;
