@import '../../SCSS/index.scss';

.Wrapper {
  .Display {
    .factoryNameContainer{
      //@include showMe;
      box-shadow: 0 2px 4px $bgColorDark;
      margin: 2% auto;
      padding: 1%;
      .icons {
        font-size: 3.5rem;
        margin: 0 8px;
        padding: 2%;
      }
      .Name {
        @include customLayout(space-evenly, flex-start, row);
        padding: 3%;
        margin-top: 2%;
        width: max-content;
        font-size: 2rem;
        letter-spacing: .1rem;
      }
    }
    @include customLayout(flex-start, center, row);
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
}

.flex {
  @include customLayout(center, center, column);
  width: 30%;
  margin: 2% auto;
  box-shadow: 0 2px 4px $purp;
  @include customBorder(2px, solid, $purp);
  .Children {
    color: $bgColorDark;
    font-size: 3.5rem;
    padding: 2%;
  }
}
